.tallyBoardButton {
  color:#156584;
  margin-right:4px;
  font-size:1.1em;
  position:relative;
  top:2px;
}

.tallyBoardButton img {
  height: 22px;
  padding-bottom: 4px;
}

.tallyBoardButton .tallyTotal {
  margin-left: 5px;
}

.tally-off .tallyBoardButton .tallyTotal {
  display: none;
}

.tally-on .tallyBoardButton .tallyTotal {
  display: inline;
}

.tallyPin {
  float: right;
  margin: 15px 5px 5px 5px;
  font-size: 13px;
  font-weight: normal;
}

.tallyPin img {
  padding-bottom: 3px;
}

.tallyPin .price {
  margin-left: 5px;
}

.tally-off .tallyPin {
  display: none;
}

.tally-on .tallyPin {
  display: inline;
}
